<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_Spam>
            <version>0.1.0</version>
        </MageProfis_Spam>
    </modules>
    <global>
        <models>
            <mpspam>
                <class>MageProfis_Spam_Model</class>
                <resourceModel>mpspam_resource</resourceModel>
            </mpspam>
            <mpspam_resource>
                <class>MageProfis_Spam_Model_Resource</class>
                <entities>
                    <penalty>
                        <table>mpspam_penalty</table>
                    </penalty>
                </entities>
            </mpspam_resource>
        </models>
        <helpers>
            <mpspam>
                <class>MageProfis_Spam_Helper</class>
            </mpspam>
        </helpers>
        <resources>
            <mpspam_setup>
                <setup>
                    <module>MageProfis_Spam</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </mpspam_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <mpsp>
                <use>standard</use>
                <args>
                    <module>MageProfis_Spam</module>
                    <frontName>mpsp</frontName> <!-- we don't want the word 'spam' in a url -->
                </args>
            </mpsp>
        </routers>
        <layout>
            <updates>
                <mpspam>
                    <file>mageprofis_spam.xml</file>
                </mpspam>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mpspam>
                        <type>singleton</type>
                        <class>mpspam/observer_session</class>
                        <method>simpleCheck</method>
                    </mpspam>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <mpspam>
                        <type>singleton</type>
                        <class>mpspam/observer</class>
                        <method>penalty</method>
                    </mpspam>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <mpspam>
                        <class>mpspam/observer</class>
                        <method>controllerActionPredispatchCustomerAccountCreatepost</method>
                    </mpspam>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <mpspam>
                        <class>mpspam/observer</class>
                        <method>controllerActionPredispatchContactsIndexPost</method>
                    </mpspam>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <mpspam_penalty>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mpspam/observer::cron</model>
                </run>
            </mpspam_penalty>
        </jobs>
    </crontab>
</config>
